.recheck {
    margin-bottom: 50px;

    .d-flex {
        display: flex;
    }

    .data-div {
        padding-top: 25px; 
        padding-left: 25px;
        
        .line-div {
            display: block; 
            height: 34px; 
            line-height: 34px; 
            margin: 0 10px;
        }
        .mat-input-div {
            margin-top: -10px;
            padding-left: 0px;
        }
    }
    .check-conversions-btn {
        margin: 0px 5px 0px 0px;
    }

    .datatables {
        .newLeads-Label {
            font-size: 14px; 
            font-weight: bold;
        }
    }
}