.btn-custom {
    width: 90px;
    margin-right: 10px;
    background-color: #36a3f7;
    color: white;
    padding: 8px 20px !important;
}
.btn-addID {
    padding: 4px 20px;
    background-color: #61c666;
    margin-top: -4px;
    color: white;
}
.div-offerIDs {
    padding: 0px 50px;
}

.setting {
    margin-bottom: 50px;
}