.recheck {
    margin-bottom: 50px;

    .d-flex {
        display: flex;
    }

    .data-div {
        padding-top: 25px; 
        padding-left: 25px;

        .mat-input-div {
            margin-top: -10px;
        }

        .line-div {
            display: block; 
            height: 34px; 
            line-height: 34px; 
            margin: 0 10px;
        }
    }
    .check-btn {
        text-transform: capitalize; 
        margin: 0px 5px 0px 0px;
    }

    .datatables {
        .lead-length-label {
            font-size: 14px; 
            font-weight: bold;
        }
        .lead-date-label {
            font-size: 10px;
        }
    }
}