<div class="recheck">
    <div class="row padding-tb-40">
        <div class="col-sm-12">
            <header class="section-title__v2">
                <h2 class="title">Leads Recheck</h2>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="bottom-border bg__white">
                <div class="row">
                    <div class="col-md-12" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center;">
                        <div style="display: flex; flex-wrap: wrap; padding-top: 25px; padding-left: 25px;">
                            <div style="margin-top: -10px;">
                                <mat-form-field id="dateRange">
                                    <input matInput [matDatepicker]="fromDatePicker" placeholder="From" (dateChange)="onChangeDate($event, 'from')" [formControl]="dateFrom">
                                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div style="display: block; height: 34px; line-height: 34px; margin: 0 10px;"> - </div>
                            <div style="margin-top: -10px;">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="toDatePicker" placeholder="To" (dateChange)="onChangeDate($event, 'to')" [formControl]="dateTo">
                                    <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #toDatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="btn-group-horizontal padding-rl-30 padding-tb-20">
                            <a href="javascript:void(0);" class="btn btn-green btn__simple" 
                                style="text-transform: capitalize; margin: 0px 5px 0px 0px;"
                                (click)="onCheckLeadsClick(true)"
                            > Check Old Data </a>
                            <a href="javascript:void(0);" class="btn btn-blue btn__simple"
                                style="margin: 0px 5px 0px 0px;"
                                (click)="onCheckLeadsClick()"
                            > Check Leads </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="datatables table__v1">
        <div class="table-top clearfix">
            <div class="server-sorting">
                <label *ngIf="newLeads.length" style="font-size: 14px; font-weight: bold;">{{newLeads.length}} new leads.</label>
                <label *ngIf="newLeads.length" style="font-size: 10px;">Date: {{fetchTime}}</label>
            </div>
        </div>
        <div>
            <mat-progress-bar
                style="height: 3px"
                *ngIf="isConnecting"
                [color]="color"
                [mode]="mode"
                [value]="value"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
        </div>
        <div class="table-responsive large-table">
            <table id="notificationsTable" class="dataTable display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th *ngFor="let field of fields" class="text-center">{{field.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lead of newLeads">
                        <td *ngFor="let field of fields" class="text-center">{{lead[field.value]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
