.notifications {
    margin-bottom: 50px;
}

.margin-left-10 {
    margin-left: 10px;
}

.d-flex {
    display: flex;
}

.div-mail {
    display: flex;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 1px 1px 5px darkcyan;
}

.a-mail {
    margin: 4px 0px 0px 7px;
}

.btn.remove-btn {
    width: 20px; 
    padding: 1px 3px 3px 4px;
    height: 20px;
}

.add-email-btn {
    padding: 4px 25px;
}