.section-wrapper {
    margin-bottom: 30px;
}
.no-spin {
    -moz-appearance:textfield;
}
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.no-spin::-webkit-calendar-picker-indicator {
    display: none;
  }

input.form-control[readonly], input.form-control[disabled] {
    background-color: inherit;
}
.no-spin {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.name-section {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    label {
        display: block;
    }
}
.d-flex {
    display: flex!important;
}
.flex-column {
    flex-direction: column!important;
}
.top-container {
    margin-bottom: 10px;
}
.filters-header, .section-header {
    font-weight: bold;
    position: relative;
    background-color: white;
    z-index: 3;
    width: fit-content;
    font-size: 20px;
    padding: 0 10px;
}
.section-header.disabled {
    color: #ababab;
}
.filters-header {
    margin-top: -38px;
    top: 38px;
    left: 11px;
}
.type-section {
    display: inline-block;
    max-width: 500px;
    .type-input-label {
        margin-bottom: .5rem;
    }
    input {
        display: none;
    }
    input:checked + label {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        background-color: rgba(0, 123, 255, 0.5) !important;
        border-color: rgba(0, 123, 255, 0.5) !important;
    }
    label {
        margin-right: 10px;
    }
}
.filters {
    margin-right: 20px;
    min-width: 400px;
}
.example-form {
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

@media (max-width: 474px) {
    .filters {
        width: 100%;
        min-width: 100%;
    }
}

.filters-container {
    display: inline-block;
}
.saved-filters {
    display: inline-block;
    .dropdown-item {
        cursor: pointer;
    }
}
.dropdown.show .dropdown-menu {
    display: block;
    top: auto;
}
.filters-row {
    flex-wrap: wrap;
}
.credit-raiting-section {
    -webkit-align-items: flex-end; /* Safari */
    padding: 10px 0;
    align-items: flex-end;
    .credit-raiting-buttons {
        input {
            display: none;
        }
        label {
            text-transform: capitalize;
            margin-right: 10px;
        }
        input:checked + label {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
            background-color: rgba(0, 123, 255, 0.5) !important;
            border-color: rgba(0, 123, 255, 0.5) !important;
        }
    }
}
.report-interval-section {
    -webkit-align-items: center;
    align-items: center;
    padding: 20px 0;
    span {
        margin-right: 10px;
        font-size: 16px;
    }
    input {
        height: max-content;
        margin-right: 10px;
    }
}
.mail-section, .alarms-section, .reports-schedule-section, .mail-schedule-section {
    width: 100%;
    margin: 1.25rem;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 30px;
    @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
    }
}
.txtInput {
    margin-top: 5px !important;
}
.btn.remove-btn {
    width: 20px; 
    padding: 1px 3px 3px 4px;
    height: 20px;
}
.section-header {
    top: -8px;
    left: -4px;
    margin-top: -5px;
    background-color: white;
    font-size: 20px;
}
.form-control.email {
    margin-right: 10px;
    display: inline-block;
    max-width: calc(100% - 55px);
}
.mail-recipient {
    margin-bottom: 5px;
    span {
        width: calc(100% - 33px);
        display: inline-block;
        padding: 0 10px;
    }
}
.mail-recipient:first-child {
    margin-top: 5px;
}
.section-row {
    margin-bottom: 10px;
}
.custom-select {
    margin-bottom: 20px;
}
.alert-captions {
    text-align: right;
    padding-right: 50px;
    span {
        width: 50px;
        display: inline-block;
        text-align: center;
    }
    span:first-child {
        margin-right: 10px;
    }
}
.option-title {
    line-height: 30px;
    margin-right: 10px;
    width: 50%;
}
@media (max-width: 400px) {
    .option-title {
        display: inline-block;
        width: 103px;
        white-space: nowrap;
        overflow-x: auto;;
    }
}
.alarm-option {
    max-width: 50px;
    margin-right: 10px;
}
.alert-params {
    width: 50%;
    text-align: right;
    input, button {
        display: inline-block;
    }
}
.widget-header {
    padding: 20px 84px 20px 30px;
}
.toggle-button {
    width: 84px;
    height: 100% !important;
}
.required-span {
    color: red;
    font-size: 8px;
}

.notifications {
    margin-bottom: 50px;
}

.div-mail {
    display: flex;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 1px 1px 5px darkcyan;
}

.a-mail {
    margin: 4px 0px 0px 7px;
}

@media (max-width: 400px) {
    .alert-params {
        display: inline-block;
        width: 155px;
    }
}
.reports-schedule-section, .mail-schedule-section {
    table {
        width: 100%;
        font-size: 12pt;
        text-align: center;
        margin-bottom: 10px;
    }
    .shedule-days {
        margin: 0 20px 0px;
            input[name="report-day"], input[name="mail-day"] {
                display: none;
            }
            .shedule-day {
                margin-right: 5px;
                width: calc(100%/7);
                text-align: right;
                label {
                    width: 100%;
                    max-width: 70px;
                }
                @media (max-width: 400px) {
                    label {
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                }
            }
            input:checked + label {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
                background-color: rgba(0, 123, 255, 0.5) !important;
                border-color: rgba(0, 123, 255, 0.5) !important;
            }
    }
}
.footer-buttons {
    float: right;
    button {
        margin: 0 10px 20px 0;
    }
}
.form-control.short-input {
    text-align: center;
    width: 50px;
}