.input-style {
  padding: 6px;
  width: 80px;
  border-radius: 3px;
  border-width: 1px;
  font-size: 14px;
  border-style: solid;
  border-color: gainsboro;
  color: darkgray;
}

.setting {
  margin-bottom: 50px;
}